---
// Este bloque se ejecuta solo en el servidor
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';

// Cargar datos en el servidor
const fetchData = async (url) => {
  try {
    const res = await fetch(url);
    return await res.json();
  } catch (error) {
    console.error(`Error fetching ${url}:`, error);
    return null;
  }
};

// Obtener datos en el preprocesamiento (antes de renderizar la página)
const aboutContent = await fetchData('http://localhost:5000/api/about');
const skillsContent = await fetchData('http://localhost:5000/api/skills');
const experienceContent = await fetchData('http://localhost:5000/api/experience');
const portfolioContent = await fetchData('http://localhost:5000/api/portfolio');
---

<Layout title="Martin Risolino - Curriculum">
  <Header />

  <section class="mb-4" id="about">
    <h2 class="mb-3">{aboutContent?.title}</h2>
    <p set:html={aboutContent?.content} />
  </section>

  <section class="mb-4" id="skills">
    <h2 class="mb-3">{skillsContent?.title}</h2>
    <p set:html={skillsContent?.content} />
    
  </section>

  <section class="mb-4" id="experience">
    <h2 class="mb-3">Experiencia</h2>
    {experienceContent?.map((item) => (
      <div class="experience-item mb-4">
        <h3>{item.title}</h3>
        <p class="text-muted mb-2"><small>{item.duration}</small></p>
        <p set:html={item?.description} />
      </div>
    ))}
  </section>

  <section class="mb-4" id="portfolio">
    <h2 class="mb-4">Portfolio OpenSource</h2>
    {portfolioContent?.map((item) => (
      <div class="port-item mb-5">
        <h3>{item.title}</h3>
        <p set:html={item?.description} />
          <div class="port-item-tech mb-3 d-flex flex-wrap gap-2">
            {item.badges.map((badge) => (
              <span 
                class={`badge bg-${badge.color} ${
                  badge.dark ? 'text-white' : 'text-dark'
                } me-2`} 
                style="margin-right: 5px; margin-left: 0;"
              >
                {badge.text}
              </span>
            ))}
          </div>

          <a href={item.repo} target="_blank" class="btn btn-outline-dark btn-sm">
            <i class="fab fa-github me-2"></i>
            Ver en GitHub
          </a>
      </div>
    ))}
  </section>


  <section class="mb-4" id="contact">
    <h2 class="mb-3">Contactar</h2>
    <p><img src="/images/cont.webp" alt="Contactar"  loading="lazy"></p>
  </section>

  <a class="btn btn-download btn-success no-imprimir" href="/Martin_Risolino-CV.pdf" target="_blank">
    Descargar CV
  </a>

  <footer class="text-center">
    <p>© 2025 Martin Risolino</p>
  </footer>
</Layout>
